{% extends 'layoutberger.html.twig' %}

{% block content %}
    <!-- Begin: Content -->
    <section id="content" class="table-layout animated fadeIn">

        <form method="POST">
            <!-- create new order panel -->
            <div class="panel mb25 mt5">
                <div class="panel-heading">
                    <span class="panel-title hidden-xs">
                        Ajouter une bergerie</span>
                </div>
                
                <div class="panel-body p20 pb12">
                    <div class="tab-content pn br-n admin-form">
                        <div id="tab1_1" class="tab-pane active">
 {% block flash %}
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="container alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('info') %}
                <div class="container alert alert-info" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('warning') %}
                <div class="container alert alert-warning" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('danger') %}
                <div class="container alert alert-danger" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% endblock %}

                            <div class="section row mbn">
                                <div class="col-lg-9 pl15">
                                    <div class="section row mb15">
                                        <div class="col-xs-6">
                                            <label for="name1" class="field prepend-icon">
                                                <input type="text" name="libelle" id="nomcomplet" class="event-name gui-input br-light light" placeholder="Entrez le nom du bergerie">

                                            </label>
                                        </div>
                                          
 
                                        <div class="col-xs-6">
                                            <label for="name2" class="field prepend-icon">
                                                <input type="text" name="adresse" id="adresse" class="event-name gui-input br-light light" placeholder="Entrez son adresse">

                                            </label>
                                        </div>
                                    </div>
                                    <div class="section row mbn">

                                        <div class="col-sm-12">
                                            <p class="text-right">
                                                <input class="btn btn-success" type="submit" name="submit" value="Enregistrer"/>
                                            </p>
                                        </div>
                                    </div>
                                    </div>
                                    </div></div>
                                </form>

                            </section>
                            <!-- End: Content -->

                        {% endblock %}